@import 'geral.css';

.content-main {
    text-align: center;
}
.main-heading {
    font-size: 32px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    line-height: 47.52px;
    color: var(--color-black);
    margin-top: 5rem;
}
.sub-heading{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-black);
    margin: 1rem 0 3rem 0;

}
.brothList,
.proteinList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 320px;
    height: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.item-container:hover {
    transform: scale(1.03);
    background-color: var(--color-blue);
}

.item-container:hover .broth-name,
.item-container:hover .protein-name,
.item-container:hover .broth-description,
.item-container:hover .protein-description{
    color: var(--color-white); 
}

.item-container:hover .broth-price,
.item-container:hover .protein-price {
    color: var(--color-yellow); 
}


.item-container.active .broth-name,
.item-container.active .protein-name,
.item-container.active .broth-description,
.item-container.active .protein-description {
    color: var(--color-white);
}

.item-container.active .broth-price,
.item-container.active .protein-price {
    color: var(--color-yellow); 
}

.item-container.active {
    background-color: var(--color-blue);
}

.item-container img {
    max-width: 100%;
    max-height: 50%;
}

.broth-name,
.protein-name {
    font-size: 24px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900 !important;
    line-height: 35.28px;
    color: var(--color-blue);
    margin-top: 1rem;
    transition: color 0.3s ease-in-out; /* Adiciona transição suave */
}

.broth-description,
.protein-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-black);
    margin-top: 1rem;
}

.broth-price,
.protein-price {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    color: var(--color-red);
    margin-top: 1rem;
}
